.foodCard {
  max-width: 600px;
  margin: 10px;
}

.sub {
  color: gray;
}

.easy-title {
  text-align: center;
  font-size: 40px;
  color: darkgreen;
}

.med-title {
  text-align: center;
  font-size: 40px;
  color: darkgoldenrod;
}

.hard-title {
  text-align: center;
  font-size: 40px;
  color: crimson;
}
.rec-content {
  position: relative;
}

:host {
  display: block;
}
